[user]
	email = hansbaker90@gmail.com
	name = BakerNet
	signingkey = D5D09FC13A57A315
[includeIf "hasconfig:remote.*.url:git@github.com:multimediallc/**"]
	path = ~/.gitconfig-mmllc
[includeIf "hasconfig:remote.*.url:https://github.com/multimediallc/**"]
	path = ~/.gitconfig-mmllc
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential
[url "git@github.com:multimediallc/"]
    insteadOf = "gmm:"
[url "https://github.com/multimediallc/"]
    insteadOf = "mm:"
[url "git@github.com:BakerNet/"]
    insteadOf = "gbn:"
[url "https://github.com/BakerNet/"]
    insteadOf = "bn:"
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
