[user]
	email = hansbaker90@gmail.com
	name = BakerNet
	signingkey = D5D09FC13A57A315
[includeIf "hasconfig:remote.*.url:git@github.com:multimediallc/**"]
	path = ~/.gitconfig-mmllc
[includeIf "hasconfig:remote.*.url:https://github.com/multimediallc/**"]
	path = ~/.gitconfig-mmllc
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
